* {
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
  color: #d9d9d9;
}

window#waybar {
  background-color: #0d0d0d;
  border-right: 1px solid #2e2e2e;
}

#image-arch {
  padding: 8px 0;
  margin-bottom: 4px;
}

#workspaces button {
  color: #737373;
  background: transparent;
  padding: 6px 0;
  border-radius: 6px;
  min-width: 36px;
  min-height: 36px;
}

#workspaces button.active {
  color: #ffffff;
  background-color: #1f1f1f;
}

#workspaces button:hover {
  background-color: #333333;
}

#cpu, #memory, #disk,
#network, #pulseaudio,
#clock, #custom-power {
  padding: 6px 0;
  border-radius: 6px;
  min-width: 36px;
  min-height: 36px;
  background: transparent;
}

#cpu:hover, #memory:hover, #disk:hover,
#network:hover, #pulseaudio:hover,
#clock:hover, #custom-power:hover {
  background-color: #333333;
}

#custom-power {
  color: #ffffff;
  font-size: 14px;
}

tooltip {
  background-color: #1a1a1a;
  border: 1px solid #2e2e2e;
  color: #d9d9d9;
}

tooltip label {
  color: #d9d9d9;
}
